.cart-page {
  margin-top: 64px;
}

.cart-page h1 {
  padding-top: 30px !important;
  font-family: "roboto", sans-serif;
  font-weight: normal;
  color: white;
  text-shadow: 4px 4px 5px black;
  background: rgb(255,136,0);
  background: linear-gradient(90deg, rgba(255,136,0,1) 41%, rgba(255,9,9,1) 59%, rgba(255,0,26,1) 69%);
}
.cart-page h1 > p {
  font-size: 20px;
  margin-top: 10px;
}

.cart-page .card {
  padding: 5px !important;
  height: 150px !important;
  margin-bottom: 5px !important;
}
.cart-page .cart-remove-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.cart-page .cart-summary {
  text-align: center;
  text-shadow: 7px 7px 7px black;
}
.cart-page .cart-remove-btn:hover{
  transform: scale(0.9);
}
@media (max-width:1199px) {
  .cart-page{
    flex: 0 0 100%;
    max-width: 100%;
    padding: 10px;
  }
}
@media (max-width:991px) {
  .cart-page,
  .cart-page .card,
  .cart-page .cart-remove-btn,
  .cart-page .cart-summary{
    align-items: center;
    justify-content: space-around;
  }

}